/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/pulse/variables";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@import "~font-awesome/scss/font-awesome";

@import "~bootswatch/dist/pulse/bootswatch";

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.35rem;
  color: rgba($black, 0.9);
  font-size: 1.05rem;
  background-color: transparent;
  border: 1px solid rgba($black, 0.125);

  &.active {
    z-index: 2;
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
}
