/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/pulse/variables";

@import "~ngx-toastr/toastr";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@import "~font-awesome/scss/font-awesome";

@import "~bootswatch/dist/pulse/bootswatch";

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.35rem;
  color: rgba($black, 0.9);
  font-size: 1.05rem;
  background-color: transparent;
  border: 1px solid rgba($black, 0.125);

  &.active {
    z-index: 2;
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
}

.xng-breadcrumb-list {
  justify-content: flex-end;
  font-size: 1rem;

  .xng-breadcrumb-item {
    label {
      margin-bottom: 0;
    }
    .xng-breadcrumb-trail {
      align-items: center;
      color: #fd7e14;
      display: flex;
    }
  }
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e3e6e8;
}
