.featured {
  height: 250px;

  span {
    cursor: pointer;
    background-color: #fd7e14;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 15px;
  }
}

img {
  object-fit: cover;
  height: 600px;
  width: 100%;
}
