<div class="row d-flex justify-content-center">
  <div class="col-6">
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-4 font-weight-normal text-center">Login</h1>

      <app-text-input
        formControlName="email"
        [type]="'email'"
        [label]="'Email Address'"
      ></app-text-input>
      <app-text-input
        formControlName="password"
        [type]="'password'"
        [label]="'Password'"
      ></app-text-input>

      <button
        class="btn btn-lg btn-block btn-primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
