<div class="d-flex justify-content-center">
  <div class="col-12">
    <form
      class="form-signin"
      autocomplete="off"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <div class="form-label-group">
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Email address"
        />
        <label for="email">Email Address</label>
      </div>

      <div class="form-label-group">
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Password"
        />
        <label for="password">Password</label>
      </div>

      <button class="btn btn-lg btn-block btn-primary" type="submit">
        Sign in
      </button>
    </form>
  </div>
</div>
