.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: #e83e8c;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}

a {
  color: #17141f;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #fd7e14;
  }
  &.active {
    color: #fd7e14;
  }
}
