<div class="row">
  <div class="col-md-3">
    <ng-container *ngIf="types && brands"
      ><h5 class="text-info h3 mb-3">Sort</h5>
      <div class="mb-5">
        <select class="form-control" (change)="onSortSelected($event)">
          <option *ngFor="let sort of sortOptions" [value]="sort.value">
            {{ sort.name }}
          </option>
        </select>
      </div>

      <h5 class="text-info h3 mb-3">Brands</h5>
      <div class="list-group mb-5">
        <button
          type="button"
          *ngFor="let brand of brands"
          class="list-group-item list-group-item-action"
          [class.active]="brand.id === shopParams.brandId"
          (click)="onBrandSelected(brand.id)"
        >
          {{ brand.name }}
        </button>
      </div>

      <h5 class="text-info h3 mb-3">Types</h5>
      <div class="list-group">
        <button
          type="button"
          *ngFor="let type of types"
          class="list-group-item list-group-item-action"
          [class.active]="type.id === shopParams.typeId"
          (click)="onTypeSelected(type.id)"
        >
          {{ type.name }}
        </button>
      </div>
    </ng-container>
  </div>

  <div class="col-md-9">
    <div
      class="d-flex justify-content-between align-items-center pb-3"
      *ngIf="products"
    >
      <app-paging-header
        [pageNumber]="shopParams.pageNumber"
        [pageSize]="shopParams.pageSize"
        [totalCount]="totalCount"
      ></app-paging-header>

      <div class="form-inline">
        <input
          #search
          type="text"
          class="form-control mr-2"
          style="width: 25rem"
          placeholder="Search"
          (keyup.enter)="onSearch()"
        />
        <button class="btn btn-outline-info my-2" (click)="onSearch()">
          Search
        </button>
        <button class="btn btn-outline-warning ml-2" (click)="onReset()">
          Reset
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>

    <div
      class="d-flex justify-content-center"
      *ngIf="totalCount && totalCount > 0"
    >
      <app-pager
        [totalCount]="totalCount"
        [pageSize]="shopParams.pageSize"
        (pageChanged)="onPageChanged($event)"
      ></app-pager>
    </div>
  </div>
</div>
